name: Deploy Static Website to S3

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Make Test Script Executable
        run: chmod +x test.sh
        
      - name: Run Basic Test Script
        run: ./test.sh 

  deployment:
    runs-on: ubuntu-latest
    needs: test
    
    env:
      S3_BUCKET: ${{ secrets.S3_BUCKET_NAME }}
      AWS_REGION: us-east-1
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy static site to S3 (CD Step)
        run: aws s3 sync ./ s3://${{ env.S3_BUCKET }} --delete --acl public-read